.answerchoice {
  border: 5px solid black;
	width: 50%;
	color: gold;
  text-align: center;
  margin: 10px auto;
  font-size: 25px;
  background-color: black;
}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;
}

#questionblock {
  text-align: center;
  font-weight: bold;
}

body {
  background-image: 
  linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ),
  url("../images/map.jpg");
  background-size: cover;
  font-family: 'Macondo Swash Caps', cursive;
}

h1 {
  text-align: center;
  color: gold;
  font-weight: bolder;
  padding-top: 20px;
  font-size: 50px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: gold;
  font-size: 30px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
  font-size: 25px;
  color: gold;
}

h3 {
  margin: 30px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(255, 0, 0);
}

.wrapper {
  margin: 10px auto;
  height: 500px;
  width: 60%;
  text-align: center;
}

#start {
  position: relative;
  bottom: -200px;
  color: gold;
  font-weight: bold;
  padding: 0px, 20px, 0px, 20px;
  font-size: 30px;
  background-color: darkgreen;
}

#reset {
  position: relative;
  bottom: -100px;
  color: gold;
  font-weight: bold;
  padding: 0px, 20px, 0px, 20px;
  font-size: 30px;
  background-color: darkgreen;
}


