.answerchoice {
  border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: gold;
  text-align: center;
  margin: 10px auto;
  font-size: 25px;
  background-color: black;

}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
}

body {
  background-image: url("../images/map.jpg");
  background-size: cover;
  font-family: 'Macondo Swash Caps', cursive;
}

h1 {
  text-align: center;
  color: gold;
  background: rgba(44, 44, 44, 0.7);
  border: 2px solid black;
  font-weight: bolder;
  padding: 20px;
  margin-left: 500px;
  margin-right: 500px;
  font-size: 50px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: gold;
  font-size: 30px;
}

h2, h3, h4 {
  margin: 30px;
  font-weight: bold;
  font-size: 25px;
  color: gold;
}

.wrapper {
  margin: 10px auto;
  background: rgba(44, 44, 44, 0.7);
  border: 2px solid black;
  height: 500px;
  width: 60%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -150px;
  color: gold;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {

  h1 {
    text-align: center;
    color: gold;
    /* background: rgba(44, 44, 44, 0.7);
    border: 2px solid black; */
    font-weight: bolder;
    padding: 10px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 25px;
  }
  
}
